/* Import Google Fonts */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header Styling */
header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-weight: 500;
}

header p {
    font-weight: 300;
}

/* Section Styling */
section {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #4CAF50;
    margin-bottom: 10px;
    font-weight: 500;
}

/* List Styling */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 8px;
}



/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    font-size: 0.9em;
    margin-top: 20px;
}

footer p {
    margin: 0;
}


/* Navigation Button Styling */
.navigation-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.nav-button {
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #45a049;
}
